# Das Archiv enthält ausschließlich frühere Release-Pakete und deren
# dokumentierende Begleitdateien. Alle anderen Ablagen sind Fehlablagen.
*
!.gitignore
!.gitkeep
!PC-Konfigurator-v*.zip
!*.md
!*.html
